<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.aul12.LightControl">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="me.aul12.LightControl.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="me.aul12.LightControl.SunriseWakeUpReceiver"
            android:permission="">
            <intent-filter>
                <action android:name="me.aul12.UdpToTcpAdapter.ACTION_SUNRISE_ALARM" />
            </intent-filter>
        </receiver>
        <receiver android:name="me.aul12.LightControl.LightifyWakeUpReceiver"
            android:permission="">
            <intent-filter>
                <action android:name="me.aul12.UdpToTcpAdapter.ACTION_LIGHTIFY_ALARM" />
            </intent-filter>
        </receiver>
    </application>

</manifest>